/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 8rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.lauchingSvg {
  height: 400px;
  width: 400px;
  margin: 0 auto;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 4rem;
  }

  .lauchingSvg {
    height: 200px;
    width: 200px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
